* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column; /* Gör så att namn och meny hamnar ovanför varandra */
  justify-content: center;
  align-items: center; /* Centrerar alla element i headern */
  background: linear-gradient(
    90deg,
    rgb(81, 25, 92),
    rgba(158, 163, 163, 0.774)
  );
  height: 150px;
}

.name {
  font-family: "Tinos", serif;
  font-size: 30px;
  color: white;
  margin-bottom: 20px; /* avstånd mellan name och meny */
}

nav {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  flex-wrap: wrap; /* Lägger till flex-wrap för att göra menyn mer flexibel */
}

.meny-item a {
  font-size: 21px;
  text-decoration: none;
  color: white;
  padding: 20px 20px;
}

.meny-item a:hover {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
}

.main {
  display: flex;
  flex-wrap: wrap; /* Tillåter innehållet att brytas på mindre skärmar */
}

.left-side {
  flex: 1;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

input {
  font-size: 15px;
}

h2 {
  font-size: 40px;
}
.right-side {
  background-image: url("../img/purple.webp");
  flex: 1;
  background-size: cover;
  height: 750px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.footer {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(81, 25, 92),
    rgba(158, 163, 163, 0.774)
  );
}

.social-login-icon {
  font-size: 25px;
  padding: 20px;
  color: white;
}

.social-login-icon:hover {
  background-color: #f0f0f0;
  color: slategrey;
}

/* Justera meny-länkar för små skärmar */
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    text-align: center;
  }

  nav {
    gap: 20px;
  }

  .meny-item a {
    font-size: 18px;
    padding: 10px;
  }
}
